<div class="bg-white rounded-2xl shadow p-6 max-w-5xl mx-auto">

    <h2 class="text-lg font-semibold mb-4">
        Currency Rates (Base: USD)
    </h2>

    <input type="text" [(ngModel)]="filterText" (input)="onFilterChange()" placeholder="Filter by currency or rate"
        class="border rounded-lg px-4 py-2 mb-4 w-full" />

    <div class="h-[300px] overflow-y-auto border rounded-xl" (scroll)="onScroll($event)">
        <table class="w-full border-collapse">
            <thead class="bg-gray-100 sticky top-0 z-10">
                <tr>
                    <th class="p-4 text-left">Currency</th>
                    <th class="p-4 text-right">Online sell rate</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let r of displayedRates" class="border-t">
                    <td class="p-4 font-medium">{{ r[0] }}</td>
                    <td class="p-4 text-right font-semibold">
                        {{ r[1] | number:'1.4-4' }}
                    </td>
                </tr>

                <tr *ngIf="loading">
                    <td colspan="2" class="p-4 text-center text-gray-500">
                        Loading...
                    </td>
                </tr>

                <tr *ngIf="!loading && displayedRates.length === 0">
                    <td colspan="2" class="p-4 text-center text-gray-500">
                        No results found
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>